@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#team {
    background: #eee !important;
}

/* MODIFICAÇÕES MESCLADAS POR PATRICK FERRAZ */

.bread {
    padding-left: 5%;
}

.backdrop {
    background-color: #1a237e;
}

.justified {
    text-align: justify;
}

.sec {
    padding-left: 5%;
    padding-right: 5%;
}

.bottom-align {
    vertical-align: bottom;
}

#google-map {
    line-height: 222px;
}

.opacity4 {
    opacity: 0.4;
}

div#tipDiv {
    font-size: 11px;
    color: #000;
    background-color: white;
    border: 1px solid #667295;
    padding: 4px;
    width: 200px;
}

/* for optional caption */
div#tipDiv div.caption {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
}

div#tipDiv td div.txt {
    text-align: justify;
    padding-right: 4px;
}

.margin-top {
    margin-top: 10px;
}

.editMt-5{  
    margin-top: 5rem;
}



.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    background-color: #2259a6;
}


section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007bff !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007bff !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.color-sub-and-title {
    color: #2259a6 !important;
}

.text-proex{
    color:#2259a6;
}

.img-nav {
    width: 5% !important;
    height: 1.6rem;
}

.cor-acoes {
    color: #007bff;
}

.gradient-nav-footer {
    background-color: #2259a6;
}

.navbar-brand {
    font-size: 15px;
    margin-right: 20px;
}

a.navbar-brand:hover {
    background-color: #286AC7;
    border-radius: 5px
}

.carousel--text {
    color: white;
    font-family: Raleway;
    font-size: 25px;
    background-color: #472b7a;
    text-align: center
}


@media (min-width: 992px) {
    .edit {
        width: 50% !important;
    }
}

@media (min-width: 768px) {
    .edit {
        width: 50% !important;
    }
}

@media (min-width: 576px) {
    .edit {
        width: 50% !important;
    }
}

.btn-primary2 {
    background-color: rgb(233, 30, 99);
}

.img-index {
    width: 100%;
}

@media only screen and (max-width: 766px) {
    .img-index {
        width: 100%;
        margin-top: 5%;
    }
}

@media screen and (min-width: 767px) {
    .img-index {
        width: 100%;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1183px) {
    .img-index {
        width: 100%;
        margin-top: 7%;
    }
}

@media only screen and (min-width: 1255px) {
    .img-index {
        width: 100%;
        margin-top: 3%;
    }
}

@media only screen and (max-width: 800px) {
    .image-proex-navbar{
        display: none;
}

@media only screen and (max-width: 760px) {
    .image-proex-navbar{
        display: none;
        width: 8000px;
        
}


.text-orange {
    color: orange;
}

.text-size {
    font-size: 13px;
}

.deanCalendar {
    margin: 5px;
    width: 80%;
    --aspect-ratio: 16/9;
}

.parallax {
    background-image: url("../img/uesc_entrada.jpeg");
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}